In [13]:
# Importing libraries
import numpy as np
import pandas as pd
import seaborn as sns

# Reading data
path = "/home/shruti/taedata.csv"  # Use the variable 'path' instead of a string literal for the file path
df = pd.read_csv(path, header=None)  # Use 'path' variable for the file path
df.head()

   0   1   2  3   4  5
0  1  23   3  1  19  3
1  2  15   3  1  17  3
2  1  23   3  2  49  3
3  1   5   2  2  33  3
4  2   7  11  2  55  3

In [14]:
#adding features name to the data
data=pd.DataFrame(df.values, columns = ["englishSpeaker", "CourseInstructor", "Course", "Semester","Classsize","grade"])
data.head()

   englishSpeaker  CourseInstructor  Course  Semester  Classsize  grade
0               1                23       3         1         19      3
1               2                15       3         1         17      3
2               1                23       3         2         49      3
3               1                 5       2         2         33      3
4               2                 7      11         2         55      3

In [17]:
data2= pd.get_dummies(data1.Course,prefix='Course',drop_first=True)
data2.head()

,Course_2,Course_3,Course_4,Course_5,Course_6,Course_7,Course_8,Course_9,Course_10,Course_11,...,Course_17,Course_18,Course_19,Course_20,Course_21,Course_22,Course_23,Course_24,Course_25,Course_26
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [18]:
data3 = pd.get_dummies(data1.CourseInstructor, prefix='CourseInstructor',drop_first=True)
data3.head()

,CourseInstructor_2,CourseInstructor_3,CourseInstructor_4,CourseInstructor_5,CourseInstructor_6,CourseInstructor_7,CourseInstructor_8,CourseInstructor_9,CourseInstructor_10,CourseInstructor_11,...,CourseInstructor_16,CourseInstructor_17,CourseInstructor_18,CourseInstructor_19,CourseInstructor_20,CourseInstructor_21,CourseInstructor_22,CourseInstructor_23,CourseInstructor_24,CourseInstructor_25
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
# Importing necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD

# Reading data
path = "/home/shruti/taedata.csv"
df = pd.read_csv(path, header=None)

# Adding feature names to the data
data = pd.DataFrame(df.values, columns=["englishSpeaker", "CourseInstructor", "Course", "Semester", "Classsize", "grade"])

# One-hot encoding of 'Course' and 'CourseInstructor'
data1 = data[["CourseInstructor", "Course"]]
data2 = pd.get_dummies(data1.Course, prefix='Course', drop_first=True)
data3 = pd.get_dummies(data1.CourseInstructor, prefix='CourseInstructor', drop_first=True)

# Creating binary features for 'englishSpeaker' and 'Semester'
data4 = pd.DataFrame(data['englishSpeaker'])
data4['englishSpeaker1'] = data4['englishSpeaker'].apply(lambda x: 0 if x == 1 else 1)

data5 = pd.DataFrame(data['Semester'])
data5['Semester1'] = data5['Semester'].apply(lambda x: 0 if x == 1 else 1)

# Concatenating the encoded features
data7 = data4[['englishSpeaker1']].join(data5[['Semester1']])
data8 = pd.concat([data2, data3], axis=1)

# Scaling 'Classsize' feature
data9 = pd.DataFrame(data['Classsize'])
sc = MinMaxScaler()
data9['classsize'] = sc.fit_transform(data9)

# Final feature set (X)
X = pd.concat([data9[['classsize']], data7, data8], axis=1)

# Target variable (y)
y = data['grade']
y = pd.get_dummies(y)  # One-hot encoding of the target variable

# Checking for missing or non-numeric values in the dataset
print(X.isnull().sum())  # Should be zero
print(y.isnull().sum())  # Should be zero

# Ensure X and y are converted to float32 type and are NumPy arrays
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
X_train = np.array(X_train).astype(np.float32)
X_test = np.array(X_test).astype(np.float32)
y_train = np.array(y_train).astype(np.float32)
y_test = np.array(y_test).astype(np.float32)

# Initializing the ANN
classifier = Sequential()

# Adding the input layer and first hidden layer
classifier.add(Dense(units=26, kernel_initializer='he_uniform', activation='relu', input_dim=X_train.shape[1]))

# Adding the second hidden layer
classifier.add(Dense(units=26, kernel_initializer='he_uniform', activation='relu'))

# Adding the output layer (for 3 classes)
classifier.add(Dense(units=3, kernel_initializer='he_uniform', activation='softmax'))

# Compiling the ANN
opt = SGD(lr=0.2, momentum=0.7)
classifier.compile(optimizer=opt, loss='categorical_crossentropy', metrics=['accuracy'])

# Fitting the ANN to the Training set
model_history = classifier.fit(X_train, y_train, validation_split=0.1, batch_size=10, epochs=50)

# Evaluating the model
_, train_acc = classifier.evaluate(X_train, y_train, verbose=0)
_, test_acc = classifier.evaluate(X_test, y_test, verbose=0)
print('Train Accuracy: %.3f, Test Accuracy: %.3f' % (train_acc, test_acc))

classsize              0
englishSpeaker1        0
Semester1              0
Course_2               0
Course_3               0
Course_4               0
Course_5               0
Course_6               0
Course_7               0
Course_8               0
Course_9               0
Course_10              0
Course_11              0
Course_12              0
Course_13              0
Course_14              0
Course_15              0
Course_16              0
Course_17              0
Course_18              0
Course_19              0
Course_20              0
Course_21              0
Course_22              0
Course_23              0
Course_24              0
Course_25              0
Course_26              0
CourseInstructor_2     0
CourseInstructor_3     0
CourseInstructor_4     0
CourseInstructor_5     0
CourseInstructor_6     0
CourseInstructor_7     0
CourseInstructor_8     0
CourseInstructor_9     0
CourseInstructor_10    0
CourseInstructor_11    0
CourseInstructor_12    0
CourseInstructor_13    0
CourseInstructor_14    0
CourseInstructor_15    0
CourseInstructor_16    0
CourseInstructor_17    0
CourseInstructor_18    0
CourseInstructor_19    0
CourseInstructor_20    0
CourseInstructor_21    0
CourseInstructor_22    0
CourseInstructor_23    0
CourseInstructor_24    0
CourseInstructor_25    0
dtype: int64
1    0
2    0
3    0
dtype: int64
Epoch 1/50
 1/11 [=>............................] - ETA: 1s - loss: 1.0888 - accuracy: 0.3000

/home/shruti/anaconda3/lib/python3.11/site-packages/keras/optimizers/legacy/gradient_descent.py:114: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super().__init__(name, **kwargs)

11/11 [==============================] - 0s 8ms/step - loss: 1.1485 - accuracy: 0.3148 - val_loss: 1.0697 - val_accuracy: 0.4167
Epoch 2/50
11/11 [==============================] - 0s 3ms/step - loss: 1.1150 - accuracy: 0.3796 - val_loss: 1.0071 - val_accuracy: 0.5833
Epoch 3/50
11/11 [==============================] - 0s 3ms/step - loss: 1.0512 - accuracy: 0.4537 - val_loss: 0.9267 - val_accuracy: 0.7500
Epoch 4/50
11/11 [==============================] - 0s 2ms/step - loss: 1.0215 - accuracy: 0.4444 - val_loss: 0.9041 - val_accuracy: 0.6667
Epoch 5/50
11/11 [==============================] - 0s 3ms/step - loss: 0.9831 - accuracy: 0.5370 - val_loss: 0.8117 - val_accuracy: 0.8333
Epoch 6/50
11/11 [==============================] - 0s 2ms/step - loss: 0.9908 - accuracy: 0.5000 - val_loss: 0.7763 - val_accuracy: 0.8333
Epoch 7/50
11/11 [==============================] - 0s 2ms/step - loss: 1.0154 - accuracy: 0.4907 - val_loss: 0.7423 - val_accuracy: 0.8333
Epoch 8/50
11/11 [==============================] - 0s 2ms/step - loss: 0.9037 - accuracy: 0.5648 - val_loss: 1.2206 - val_accuracy: 0.3333
Epoch 9/50
11/11 [==============================] - 0s 2ms/step - loss: 0.8799 - accuracy: 0.5741 - val_loss: 1.0322 - val_accuracy: 0.5833
Epoch 10/50
11/11 [==============================] - 0s 2ms/step - loss: 0.8929 - accuracy: 0.5741 - val_loss: 0.7520 - val_accuracy: 0.5833
Epoch 11/50
11/11 [==============================] - 0s 2ms/step - loss: 0.8750 - accuracy: 0.5741 - val_loss: 0.7024 - val_accuracy: 0.6667
Epoch 12/50
11/11 [==============================] - 0s 2ms/step - loss: 0.8090 - accuracy: 0.5833 - val_loss: 0.5598 - val_accuracy: 0.8333
Epoch 13/50
11/11 [==============================] - 0s 2ms/step - loss: 0.8114 - accuracy: 0.6019 - val_loss: 0.6898 - val_accuracy: 0.5833
Epoch 14/50
11/11 [==============================] - 0s 2ms/step - loss: 0.7648 - accuracy: 0.6296 - val_loss: 0.4918 - val_accuracy: 0.8333
Epoch 15/50
11/11 [==============================] - 0s 3ms/step - loss: 0.6475 - accuracy: 0.6389 - val_loss: 0.5448 - val_accuracy: 0.8333
Epoch 16/50
11/11 [==============================] - 0s 2ms/step - loss: 0.7883 - accuracy: 0.6481 - val_loss: 0.4447 - val_accuracy: 0.9167
Epoch 17/50
11/11 [==============================] - 0s 2ms/step - loss: 0.7063 - accuracy: 0.6481 - val_loss: 0.7367 - val_accuracy: 0.5833
Epoch 18/50
11/11 [==============================] - 0s 3ms/step - loss: 0.6626 - accuracy: 0.6296 - val_loss: 0.7335 - val_accuracy: 0.7500
Epoch 19/50
11/11 [==============================] - 0s 2ms/step - loss: 0.5707 - accuracy: 0.6944 - val_loss: 0.7734 - val_accuracy: 0.7500
Epoch 20/50
11/11 [==============================] - 0s 2ms/step - loss: 0.6503 - accuracy: 0.6667 - val_loss: 0.4104 - val_accuracy: 0.8333
Epoch 21/50
11/11 [==============================] - 0s 3ms/step - loss: 0.5825 - accuracy: 0.7500 - val_loss: 0.4046 - val_accuracy: 0.8333
Epoch 22/50
11/11 [==============================] - 0s 4ms/step - loss: 0.6326 - accuracy: 0.7037 - val_loss: 0.8019 - val_accuracy: 0.5000
Epoch 23/50
11/11 [==============================] - 0s 2ms/step - loss: 0.6349 - accuracy: 0.7130 - val_loss: 0.6005 - val_accuracy: 0.6667
Epoch 24/50
11/11 [==============================] - 0s 3ms/step - loss: 0.5532 - accuracy: 0.7130 - val_loss: 0.3980 - val_accuracy: 0.9167
Epoch 25/50
11/11 [==============================] - 0s 2ms/step - loss: 0.5126 - accuracy: 0.7037 - val_loss: 0.3100 - val_accuracy: 1.0000
Epoch 26/50
11/11 [==============================] - 0s 3ms/step - loss: 0.5523 - accuracy: 0.7037 - val_loss: 0.4447 - val_accuracy: 0.7500
Epoch 27/50
11/11 [==============================] - 0s 2ms/step - loss: 0.5867 - accuracy: 0.7407 - val_loss: 0.3165 - val_accuracy: 0.8333
Epoch 28/50
11/11 [==============================] - 0s 2ms/step - loss: 0.4765 - accuracy: 0.7593 - val_loss: 0.3969 - val_accuracy: 0.7500
Epoch 29/50
11/11 [==============================] - 0s 2ms/step - loss: 0.5210 - accuracy: 0.7593 - val_loss: 0.2371 - val_accuracy: 1.0000
Epoch 30/50
11/11 [==============================] - 0s 2ms/step - loss: 0.4495 - accuracy: 0.7500 - val_loss: 0.2848 - val_accuracy: 0.8333
Epoch 31/50
11/11 [==============================] - 0s 3ms/step - loss: 0.4691 - accuracy: 0.7407 - val_loss: 0.3569 - val_accuracy: 0.9167
Epoch 32/50
11/11 [==============================] - 0s 3ms/step - loss: 0.4522 - accuracy: 0.7685 - val_loss: 0.3832 - val_accuracy: 0.7500
Epoch 33/50
11/11 [==============================] - 0s 2ms/step - loss: 0.5174 - accuracy: 0.7315 - val_loss: 0.2629 - val_accuracy: 0.9167
Epoch 34/50
11/11 [==============================] - 0s 2ms/step - loss: 0.4429 - accuracy: 0.7870 - val_loss: 0.2719 - val_accuracy: 0.8333
Epoch 35/50
11/11 [==============================] - 0s 3ms/step - loss: 0.4109 - accuracy: 0.7963 - val_loss: 0.2393 - val_accuracy: 0.9167
Epoch 36/50
11/11 [==============================] - 0s 3ms/step - loss: 0.4014 - accuracy: 0.7778 - val_loss: 0.3875 - val_accuracy: 0.6667
Epoch 37/50
11/11 [==============================] - 0s 3ms/step - loss: 0.3976 - accuracy: 0.7870 - val_loss: 0.2812 - val_accuracy: 0.7500
Epoch 38/50
11/11 [==============================] - 0s 2ms/step - loss: 0.3939 - accuracy: 0.8241 - val_loss: 0.3189 - val_accuracy: 0.7500
Epoch 39/50
11/11 [==============================] - 0s 2ms/step - loss: 0.4008 - accuracy: 0.8056 - val_loss: 0.2296 - val_accuracy: 0.9167
Epoch 40/50
11/11 [==============================] - 0s 4ms/step - loss: 0.4094 - accuracy: 0.7685 - val_loss: 0.2675 - val_accuracy: 1.0000
Epoch 41/50
11/11 [==============================] - 0s 3ms/step - loss: 0.3962 - accuracy: 0.7500 - val_loss: 0.3767 - val_accuracy: 0.7500
Epoch 42/50
11/11 [==============================] - 0s 3ms/step - loss: 0.5306 - accuracy: 0.7315 - val_loss: 0.3476 - val_accuracy: 0.7500
Epoch 43/50
11/11 [==============================] - 0s 5ms/step - loss: 0.3578 - accuracy: 0.8241 - val_loss: 0.7484 - val_accuracy: 0.7500
Epoch 44/50
11/11 [==============================] - 0s 2ms/step - loss: 0.3452 - accuracy: 0.7963 - val_loss: 0.1668 - val_accuracy: 1.0000
Epoch 45/50
11/11 [==============================] - 0s 2ms/step - loss: 0.3685 - accuracy: 0.7963 - val_loss: 0.2902 - val_accuracy: 0.9167
Epoch 46/50
11/11 [==============================] - 0s 2ms/step - loss: 0.4062 - accuracy: 0.7778 - val_loss: 0.3026 - val_accuracy: 0.9167
Epoch 47/50
11/11 [==============================] - 0s 2ms/step - loss: 0.4043 - accuracy: 0.7963 - val_loss: 0.3134 - val_accuracy: 0.9167
Epoch 48/50
11/11 [==============================] - 0s 2ms/step - loss: 0.4305 - accuracy: 0.8056 - val_loss: 0.2527 - val_accuracy: 0.9167
Epoch 49/50
11/11 [==============================] - 0s 2ms/step - loss: 0.4675 - accuracy: 0.7315 - val_loss: 0.5341 - val_accuracy: 0.7500
Epoch 50/50
11/11 [==============================] - 0s 3ms/step - loss: 0.4832 - accuracy: 0.7870 - val_loss: 0.2906 - val_accuracy: 0.9167
Train Accuracy: 0.733, Test Accuracy: 0.613